.Login {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    /* Set background image */
    /* background-image: url('/Users/apple/Downloads/login-face-image.jpeg'); */
    /* Replace 'path_to_your_image.jpg' with the actual path to your image */

    /* Set background size and position */
    /* background-size: 800 1000px; */

    /* text-align: center; */
    /* margin-top: 100px; */

    /* Set other styles as needed */
    /* For example: */
    /* color: white; */
    /* font-size: 18px; */
    /* ... */
}

.background-image {
    /* Set background image */
    background-image: url('/Users/apple/Downloads/login-face-image.jpeg');
    /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    /* Adjust opacity if needed */
}